target/
.target/
project/boot/
.cache
.classpath
.project
.history
report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.pdf
report/*.synctex.gz
report/*.toc
report/*.nav
report/*.out
report/*.snm
